@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Quicksand&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
}

body {
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-image: url('bg.jpg');
    background-color:rosybrown;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#search-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(234, 42, 42, 0.2);
    text-align: center;
}

#mealInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 10px;
}

button {
    padding: 10px 20px;
    background-color:plum;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

#results-section {
    margin-top: 20px;

}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    align-content: center;
}

div {
    background-color: #F0F0F0;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888;
    margin: 10px;
    text-align: center;
    color: #333;
    font-size: 16px;
}

p {
    font-family: var(--Quicksand);
}

h1 {
    color:darkred;
    font-family: var(--Playfair);
    font-size: 4rem;
    line-height: 1;
}

h2 {
    color: darkred;
    font-family: var(--Playfair);
    color: var(--exDark);
    font-size: 24px;
    margin: 10px 0;
}

h3 {
    color: darkred;
    font-family: var(--Playfair);
    color: var(--exDark);
}

label {
    font-family: var(--Quicksand);
    color: var(--exDark);
}

button {
    font-family: var(--Quicksand);
    color: black;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightblue;
    color: black;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

footer{
  background-image: url('bg.jpg');
  background-color:rosybrown;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

/*menu (about and help) */
.navbar{
  background: rosybrown;
  padding: 1.2rem;
}

.navbar-nav{
  padding: 0.8rem 0 0.2rem 0;
  text-align: center;
}
.navbar-nav a{
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 1px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.1rem;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
  opacity: 0.7;
  color: burlywood;
}

/*style link footer*/
span a {
  text-transform: uppercase;
  text-decoration: none;
  color: black; /* Set preferred color */
  font-family: var(--Roboto);
  font-weight: bold;
  margin-right: 10px; /* Adjust the spacing between links */
  letter-spacing: 1px;
  font-weight: 500;
}

span a:hover {
  color: burlywood; /* Change color on hover */
}

span::after {
  content: '|';
  margin-left: 5px; /* Adjust the spacing after each link */
  margin-right: 10px;
  color: #777; /* Set the separator color */
}

span:last-child::after {
  content: ''; /* Remove separator after the last link */
}

span {
  display: inline-block;
  margin-bottom: 10px; /* Add space between the social media links and the copyright text */
  font-family: var(--Quicksand);
}

span:last-child {
  margin-bottom: 0; /* Remove space after the last span */
}